<div class="signup_cont spaced">

 <%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :first_name, class: "control-label" %><br />
    <%= f.text_field :first_name, class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :email, class: "control-label" %><br />
    <%= f.text_field :email, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :password, class: "control-label" %><br />
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, class: "control-label" %><br />
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="actions two-em-spaced">
    <%= f.submit class: "btn btn-block btn-large btn-warning spaced" %>
    <%= link_to 'Back', admin_users_admins_path, id: "new_fix", class: "btn btn-block btn-default spaced"  %>
  </div>



  <% end %>
</div>



