<h1 class="heading">New Athletes</h1>
<%= render 'layouts/admin_dash' %>

<% if @athletes != [] %> 
<p>There are currently <%=@athletes.count%> athletes registered.</p>

<div class="signup_cont two-em-spaced">
  <%= link_to "Delete All New Athletes", delete_all_new_athletes_path, id: "delete_new_athletes", class: "btn btn-block btn-large btn-danger edit-btn", "data-no-turbolink" => true, data: { confirm: 'Are you sure?' } %><br>
</div>

<div class="panel panel-default table-responsive">
  <table class="table table-hover">  
    <thead>  
      <tr>    
        <th>Name</th>
        <th>Email</th>
        <th>Joined</th>
      </tr>  
    </thead>  
    <tbody>  
     <% @athletes.each do |user| %>
     <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.to_formatted_s(:long) %></td>
    </tr>
    <% end %>
  </tbody>
</table>  
</div>
<% else %>
<p>No New Athletes.</p>
<% end %>