<br class="clear" />

<div class="col-md-6 col-md-offset-3 double spaced">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				Admin Sign In
			</h3>
		</div>
		<div class="panel-body">
			
			<div class="alert alert-dismissable alert-danger">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<p><%= @error %></p>
			</div>
			
			<%= form_for(:admin_session, url: admin_sessions_path) do |f| %>
				
				<div class="col-md-3 spaced">
					<%= f.label :email, class: "control-label" %>
				</div>
				
				<div class="col-md-9 spaced">
					<%= f.text_field :email, class: "form-control"%>
				</div>
				
				<div class="col-md-3 spaced">
					<%= f.label :password, class: "control-label" %>
				</div>
				
				<div class="col-md-9 spaced">
					<%= f.password_field :password, class: "form-control" %>
				</div>
				
				<div class="col-md-4 col-md-offset-8 spaced">		
					<%= f.submit "Sign in", class: "btn btn-warning btn-block btn-primary"  %>
				</div>
				
			<% end %>
			
		</div>
	</div>
</div>
