
<h1 class="heading">Key Dates</h1>

<%= render 'layouts/admin_dash' %>

<div class="signup_cont two-em-spaced">
  <%= link_to "New Key Date", new_key_date_path, id: "new_key_date", class: "btn btn-block btn-large btn-warning", "data-no-turbolink" => true %><br>
</div>


<% if @key_dates != [] %> 
<div class="panel panel-default table-responsive">
  <table class="table table-hover">  
    <thead>  
      <tr>    
        <th></th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>  
    </thead>  
    <tbody class="key_dates-sortable">  
     <% @key_dates.each do |key_date| %>
     <tr class="key_date" data-id="<%= key_date.id %>">
      <td><i class="fa fa-bars"></i></td>
      <td><%= key_date.description %></td>
       <td><%= link_to 'Edit', edit_key_date_path(key_date), class:"btn btn-info edit-btn", "data-no-turbolink" => true  %></td>
      <td><%= link_to 'Delete', key_date, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger edit-btn" %></td> 
  
    </tr>
    <% end %>
  </tbody>
</table>  
</div>
<% else %>
<p>Page Content will appear shortly.</p>
<% end %>

<div class="signup_cont two-em-spaced">
  <%= link_to "New Key Date", new_key_date_path, id: "new_key_date", class: "btn btn-block btn-large btn-warning", "data-no-turbolink" => true %><br>
</div>