<h1 class="heading">Meet the 2014/15 Committee</h1>



<div class="col-md-4 col-sm-6">
<div class ="committee-person">

	<%= image_tag("captain.png", id: "captain-img", class: "committee-photos center-block", alt: "Club Captain") %>
	<h4 class="montserrat committee-pos-title">Club Captain - Paul Tobin</h4>
	<!--<p id="captain-para">Hi, I’m Paul and I’m the Club Captain of the Athletics and XC club. I’m a 3rd year medical student and run 800s/1500s in the summer, XC in the winter and everything in between! I’m excited to take on the role of captain over the next year and I’ll try to make sure you have as much fun being part of this club as I have. I know we’re going to have a really good squad, both for cross-country and for track and field, for the next year and I’m looking forward to meeting all the freshers as well, it’s going to be a really big year for the club! I’ll be around at training and the socials and feel free to get in touch by email as well if you have any questions: ptobin1@sheffield.ac.uk</p>-->
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person">

	<%= image_tag("track.png", id: "track-and-field-img", class: "committee-photos center-block", alt: "Tracl and Field Captain") %>
	<h4 class="montserrat committee-pos-title">Track and Field Captain - Simon Green</h4>
	<!--<p id="captain-para">Hi, I’m Paul and I’m the Club Captain of the Athletics and XC club. I’m a 3rd year medical student and run 800s/1500s in the summer, XC in the winter and everything in between! I’m excited to take on the role of captain over the next year and I’ll try to make sure you have as much fun being part of this club as I have. I know we’re going to have a really good squad, both for cross-country and for track and field, for the next year and I’m looking forward to meeting all the freshers as well, it’s going to be a really big year for the club! I’ll be around at training and the socials and feel free to get in touch by email as well if you have any questions: ptobin1@sheffield.ac.uk</p>-->
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person">

	<%= image_tag("xc.png", id: "cross-country-captain-img", class: "committee-photos center-block", alt: "Cross Country Captain") %>
	<h4 class="montserrat committee-pos-title">Cross Country Captain - Rachael Lundgren</h4>
	<!--<p id="captain-para">Hi, I’m Paul and I’m the Club Captain of the Athletics and XC club. I’m a 3rd year medical student and run 800s/1500s in the summer, XC in the winter and everything in between! I’m excited to take on the role of captain over the next year and I’ll try to make sure you have as much fun being part of this club as I have. I know we’re going to have a really good squad, both for cross-country and for track and field, for the next year and I’m looking forward to meeting all the freshers as well, it’s going to be a really big year for the club! I’ll be around at training and the socials and feel free to get in touch by email as well if you have any questions: ptobin1@sheffield.ac.uk</p>--><br class="spaced">
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person">

	<%= image_tag("long-run.png", id: "long-run-img", class: "committee-photos center-block", alt: "Long Run Coordinator") %>
	<h4 class="montserrat committee-pos-title">Long Run Coordinator - Joe Booth</h4>
	<!--<p id="captain-para">Hi, I’m Paul and I’m the Club Captain of the Athletics and XC club. I’m a 3rd year medical student and run 800s/1500s in the summer, XC in the winter and everything in between! I’m excited to take on the role of captain over the next year and I’ll try to make sure you have as much fun being part of this club as I have. I know we’re going to have a really good squad, both for cross-country and for track and field, for the next year and I’m looking forward to meeting all the freshers as well, it’s going to be a really big year for the club! I’ll be around at training and the socials and feel free to get in touch by email as well if you have any questions: ptobin1@sheffield.ac.uk</p>-->
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person">

	<%= image_tag("treasurer.png", id: "treasurer-img", class: "committee-photos center-block", alt: "Treasurer") %>
	<h4 class="montserrat committee-pos-title">Treasurer - Elliott Tate</h4>
	<!--<p id="captain-para">Hi, I’m Paul and I’m the Club Captain of the Athletics and XC club. I’m a 3rd year medical student and run 800s/1500s in the summer, XC in the winter and everything in between! I’m excited to take on the role of captain over the next year and I’ll try to make sure you have as much fun being part of this club as I have. I know we’re going to have a really good squad, both for cross-country and for track and field, for the next year and I’m looking forward to meeting all the freshers as well, it’s going to be a really big year for the club! I’ll be around at training and the socials and feel free to get in touch by email as well if you have any questions: ptobin1@sheffield.ac.uk</p>-->
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class="committee-person">

	<%= image_tag("secretary.png", id: "secretary-img", class: "committee-photos center-block", alt: "Club Secretary") %>
	<h4 class="montserrat committee-pos-title">Club Secretary - Callum Chambers</h4>
	<!--<p id="captain-para">Hi, I’m Paul and I’m the Club Captain of the Athletics and XC club. I’m a 3rd year medical student and run 800s/1500s in the summer, XC in the winter and everything in between! I’m excited to take on the role of captain over the next year and I’ll try to make sure you have as much fun being part of this club as I have. I know we’re going to have a really good squad, both for cross-country and for track and field, for the next year and I’m looking forward to meeting all the freshers as well, it’s going to be a really big year for the club! I’ll be around at training and the socials and feel free to get in touch by email as well if you have any questions: ptobin1@sheffield.ac.uk</p>--><br class="spaced">
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person">

	<%= image_tag("development.png", id: "development-img", class: "committee-photos center-block", alt: "Development Officer") %>
	<h4 class="montserrat committee-pos-title">Development Officer - Rebecca Cope</h4>
	<!--<p id="captain-para">Hi, I’m Paul and I’m the Club Captain of the Athletics and XC club. I’m a 3rd year medical student and run 800s/1500s in the summer, XC in the winter and everything in between! I’m excited to take on the role of captain over the next year and I’ll try to make sure you have as much fun being part of this club as I have. I know we’re going to have a really good squad, both for cross-country and for track and field, for the next year and I’m looking forward to meeting all the freshers as well, it’s going to be a really big year for the club! I’ll be around at training and the socials and feel free to get in touch by email as well if you have any questions: ptobin1@sheffield.ac.uk</p>-->
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person">

	<%= image_tag("social.png", id: "social-img", class: "committee-photos center-block", alt: "Social Secretary") %>
	<h4 class="montserrat committee-pos-title">Social Secretary - Anthony Parkes</h4>
	<!--<p id="captain-para">Hi, I’m Paul and I’m the Club Captain of the Athletics and XC club. I’m a 3rd year medical student and run 800s/1500s in the summer, XC in the winter and everything in between! I’m excited to take on the role of captain over the next year and I’ll try to make sure you have as much fun being part of this club as I have. I know we’re going to have a really good squad, both for cross-country and for track and field, for the next year and I’m looking forward to meeting all the freshers as well, it’s going to be a really big year for the club! I’ll be around at training and the socials and feel free to get in touch by email as well if you have any questions: ptobin1@sheffield.ac.uk</p>-->
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person">

	<%= image_tag("technical.png", id: "technical-img", class: "committee-photos center-block", alt: "Technical Officer") %>
	<h4 class="montserrat committee-pos-title">Technical Officer - Dan Cunnington</h4>
	<!--<p id="captain-para">Hi, I’m Paul and I’m the Club Captain of the Athletics and XC club. I’m a 3rd year medical student and run 800s/1500s in the summer, XC in the winter and everything in between! I’m excited to take on the role of captain over the next year and I’ll try to make sure you have as much fun being part of this club as I have. I know we’re going to have a really good squad, both for cross-country and for track and field, for the next year and I’m looking forward to meeting all the freshers as well, it’s going to be a really big year for the club! I’ll be around at training and the socials and feel free to get in touch by email as well if you have any questions: ptobin1@sheffield.ac.uk</p>-->
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person">

	<%= image_tag("questions.png", id: "questions-img", class: "committee-photos center-block", alt: "Any Questions") %>
</div>
</div>