<h1 class="heading">Meet the Committee</h1>

<!-- For each committee position create a div for it-->

<% if @committee_positions != [] %>
	<div class="row">
		<% baseCloudinaryURL = 'http://res.cloudinary.com/shefuniathletics/image/upload/w_180,h_243,c_thumb/'%>
		<% @committee_positions.each do |committee_position| %>
			<% modalID = committee_position.priority.to_s+"-modal"%>
			<% @elementID = committee_position.position%>
			<div class="col-md-4 col-sm-6">
				<div class ="committee-person" data-toggle="modal" data-target=<%="\#"+modalID%>>
					<%= image_tag(baseCloudinaryURL+committee_position.image_url, id: "#{@elementID}", class: "committee-photos center-block", alt: "#{@elementID}", :width => 180, :height => 243, :crop => :thumb)%>
					<h4 class="montserrat committee-pos-title"><%=committee_position.position%> - <%= committee_position.name%></h4>
				</div>
			</div>

			<div class="modal fade" id=<%=modalID%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel"><%=committee_position.position%> - <%= committee_position.name%></h4>
						</div>
						<div class="modal-body">
							<%=raw committee_position.description%>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

						</div>
					</div>
				</div>
			</div>


		<% end %>
	</div>

<% else %>

<p>Content will appear shortly</p>

<% end %>
<!-- <div class="row">
	<div class="col-md-4 col-sm-6">
		<div class ="committee-person" data-toggle="modal" data-target="#captain-modal">

			<%= image_tag("captain.png", id: "captain-img", class: "committee-photos center-block", alt: "Club Captain") %>
			<h4 class="montserrat committee-pos-title">Club Captain - Paul Tobin</h4>
		</div>
	</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person" data-toggle="modal" data-target="#track-modal">

	<%= image_tag("track.png", id: "track-and-field-img", class: "committee-photos center-block", alt: "Track and Field Captain") %>
	<h4 class="montserrat committee-pos-title">Track and Field Captain - Simon Green</h4>
</div>
</div>

<div class="clearfix visible-sm"></div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person" data-toggle="modal" data-target="#country-modal">

	<%= image_tag("xc.png", id: "cross-country-captain-img", class: "committee-photos center-block", alt: "Cross Country Captain") %>
	<h4 class="montserrat committee-pos-title">Cross Country Captain - Rachael Lundgren</h4>
	<br class="spaced">
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person" data-toggle="modal" data-target="#long-run-modal">

	<%= image_tag("long-run.png", id: "long-run-img", class: "committee-photos center-block", alt: "Long Run Coordinator") %>
	<h4 class="montserrat committee-pos-title">Long Run Coordinator - Joe Booth</h4>
</div>
</div>

<div class="clearfix visible-sm"></div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person" data-toggle="modal" data-target="#treasurer-modal">

	<%= image_tag("treasurer.png", id: "treasurer-img", class: "committee-photos center-block", alt: "Treasurer") %>
	<h4 class="montserrat committee-pos-title">Treasurer - Elliott Tate</h4>
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class="committee-person" data-toggle="modal" data-target="#secretary-modal">

	<%= image_tag("secretary.png", id: "secretary-img", class: "committee-photos center-block", alt: "Club Secretary") %>
	<h4 class="montserrat committee-pos-title">Club Secretary - Callum Chambers</h4>
	<br class="spaced">
</div>
</div>

<div class="clearfix visible-sm"></div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person" data-toggle="modal" data-target="#development-modal">

	<%= image_tag("development.png", id: "development-img", class: "committee-photos center-block", alt: "Development Officer") %>
	<h4 class="montserrat committee-pos-title">Development Officer - Rebecca Cope</h4>
</div>
</div>

<div class="col-md-4 col-sm-6">
<div class ="committee-person" data-toggle="modal" data-target="#social-modal">

	<%= image_tag("social.png", id: "social-img", class: "committee-photos center-block", alt: "Social Secretary") %>
	<h4 class="montserrat committee-pos-title">Social Secretary - Anthony Parkes</h4>
</div>
</div>

<div class="clearfix visible-sm"></div>

<div class="col-md-4 col-sm-12">
<div class ="committee-person" data-toggle="modal" data-target="#technical-modal">

	<%= image_tag("technical.png", id: "technical-img", class: "committee-photos center-block", alt: "Technical Officer") %>
	<h4 class="montserrat committee-pos-title">Technical Officer - Dan Cunnington</h4>
</div>
</div>

</div>




<div class="modal fade" id="captain-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Club Captain - Paul Tobin</h4>
			</div>
			<div class="modal-body">
				<p class="committee-para">Hi, I’m Paul and I’m the Club Captain of the Athletics and XC club. I’m a 3rd year medical student and run 800s/1500s in the summer, XC in the winter and everything in between! I’m excited to take on the role of captain over the next year and I’ll try to make sure you have as much fun being part of this club as I have. I know we’re going to have a really good squad, both for cross-country and for track and field, for the next year and I’m looking forward to meeting all the freshers as well, it’s going to be a really big year for the club! I’ll be around at training and the socials and feel free to get in touch by email as well if you have any questions: <a class="mail-link" href="mailto:ptobin1@sheffield.ac.uk">ptobin1@sheffield.ac.uk</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="track-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Track and Field Captain - Simon Green</h4>
			</div>
			<div class="modal-body">
				<p class="committee-para">Hey! I’m Simon and I’ll be your Track and Field Captain for 2014-15. I took up athletics whilst here at Sheffield Uni and it was the best decision! Whilst training as a 200m runner I’ve made some of my closest friends and had some great experiences. I’ll be trying to make sure you all love it as much as I do! If you have any questions don’t hesitate to message me: <a class="mail-link" href="mailto:sgreen1@sheffield.ac.uk">sgreen1@sheffield.ac.uk</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="country-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Cross Country Captain - Rachael Lundgren</h4>
			</div>
			<div class="modal-body">
				<p class="committee-para">Hello! I’m Rachael, I’m a 4th year dental student and I’ll be organising the cross-country and road races this year. I’ve been involved with the Athletics club since freshers week back in 2011 and have loved every second! I am a dedicated middle distance and XC runner, and represent Gosforth Harriers and North East England as well as Sheffield University. You’ll see me around on the group runs and at training sessions (and at most of the social events) so feel free to ask me any questions! Contact me at: <a class="mail-link" href="mailto:RLundgren1@shef.ac.uk">RLundgren1@shef.ac.uk</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="long-run-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Long Run Coordinator - Joe Booth</h4>
			</div>
			<div class="modal-body">
				<p class="committee-para">My name’s Joe and I’m a middle to long distance runner. This year I’ll be organising and leading the recreational club runs. Contact details: <a class="mail-link" href="mailto:jpbooth1@sheffield.ac.uk">jpbooth1@sheffield.ac.uk</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="treasurer-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Treasurer - Elliott Tate</h4>
			</div>
			<div class="modal-body">
				<p class="committee-para">This year I will be responsible for the clubs finances and hopefully, through working alongside the rest of the committee, we will be able to get some sponsorship money to subsidise events and other costs throughout the year. I’m really looking forward to doing this, and also again being part of a really friendly and exciting club that I have been a member of for nearly three years now. If you have any questions or suggestions, get in touch: <a class="mail-link" href="mailto:eatate1@sheffield.ac.uk">eatate1@sheffield.ac.uk</a> </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="secretary-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Club Secretary - Callum Chambers</h4>
			</div>
			<div class="modal-body">
				<p class="committee-para">Hi everyone im Callum, this year’s secretary for the club. Im in final year studying medicine, and focus on middle distance for athletics- although I often train with the sprints group as well. It’s my job to keep on top of the admin duties in the club, as well as sending out the weekly newsletter. This is an opportunity to keep everyone up to date with the events going on in the club, to report on the success of recent socials (you might find yourself mentioned if you have a particularly eventful one!) and to keep our esteemed leader Captain Tobin in check. Contact details: <a class="mail-link" href="mailto:mdb10cc@shef.ac.uk">mdb10cc@shef.ac.uk</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="development-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Development Officer - Rebecca Cope</h4>
			</div>
			<div class="modal-body">
				<p class="committee-para">Hey, I’m Becca, and I’m this year’s development officer! I’m in my third year doing Biomedical Science, and I’m a triple jumper –although I mainly train with the sprints group. I’m hoping to try and bring something new to the club this year, and I’m always open to ideas so feel free to contact me if you have any ideas on how we can improve: <a class="mail-link" href="mailto:rebecca_cope@live.co.uk">rebecca_cope@live.co.uk</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="social-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Social Secretary - Anthony Parkes</h4>
			</div>
			<div class="modal-body">
				<p class="committee-para">Hi, I’m Anthony and I am this year’s social secretary. I train with the sprinters and apsire to have rock hard quads and firm glutes by the end of the year. As well as bulking, I’m also in charge of organising all the social events throughout the year. This will mostly be Wednesday nights to Roar and not forgetting Pop Tarts! Details will be posted on Facebook so keep an eye out for that! Any questions please get in touch: <a class="mail-link" href="mailto:adparkes1@sheffield.ac.uk">adparkes1@sheffield.ac.uk</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="technical-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Technical Officer - Dan Cunnington</h4>
			</div>
			<div class="modal-body">
				<p class="committee-para">Hi I’m Dan, this year’s technical officer! I’m a third year Computer Scientist and a middle to long distance runner. My role involves maintaining and updating the website as well as helping Callum send out the weekly newsletter. If there’s anything you would like to see on the website then please get in touch! My email is <a class="mail-link" href="mailto:dcunnington1@sheffield.ac.uk">dcunnington1@sheffield.ac.uk</a> cheers!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div> -->