<h1 class="heading">Club History</h1>

<div class="row historyIntro">
	<div class="col-md-6">
		<h4 class="montserrat gold backgroundHist">Background</h4>
		<% if @background != [] %>
			<div class="history-para">
				<%= raw @background%>
			</div>
		<% else %>
			<p>Content will appear shortly.</p>
		<% end %>
	</div>

	<div class="col-md-6">
	<% if @historic_images != []%>
		<% baseCloudinaryURL = 'http://res.cloudinary.com/shefuniathletics/image/upload/'%>
		<%= image_tag(baseCloudinaryURL+@historic_images[0].image_url, :class=>"old") %>
	<% else %>
		<p>Image will appear shortly.</p>
	<% end %>
	</div>
</div>


<div class="row history-para dates-div">
	<h4 class="montserrat gold keyDates">Key Dates</h4>

	<% if ((@key_dates_1) && (@key_dates_2) && (@key_dates_1 != []) && (@key_dates_2 != [])) %>
		<div class="col-md-5">
			<ul class="history">
				<% @key_dates_1.each do |key_date| %>

				<li><%= raw key_date.description%></li>
				<br class="one-em-spaced">
				<% end %>
			</ul>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-5">
			<ul class="history">
				<% @key_dates_2.each do |key_date| %>

				<li><%= raw key_date.description%></li>
				<br class="one-em-spaced">
				<% end %>
			</ul>
		</div>

	<% else %>
		<p>Content will appear shortly.</p>
	<% end %>
</div>



<!-- <br class="spaced">
<div class="keyDates">
	<div class="col-md-6">
	
		<h4 class="montserrat gold">Key Dates</h4>

		<ul class="history">

		<li>In 1930 and 1939 we held the WIVAB track championships and were due to hold them in 1941, but the war prevented this.</li>

		<br class="one-em-spaced">

		<li>We had 3 women represent us for British Universities in Turin in 1933, one of them high-jumped 4 foot 7 inches (E.M. Sleigh)! We also had long jumpers, discus and javelin throwers competing at the championships.</li>

		<br class="one-em-spaced">

		<li>In 1936, M Hamilton won the Cross Country for Sheffield at Alderley Park in Cheshire, a cutting from the Guardian said "Hamilton outclasses his opponents, he made the other runners look a class, and many others 1/2 a dozen classes below him" - he won by 100 yards.</li>

		<br class="one-em-spaced">


		<li>We hosted the 16th UAU cross country championships in 1938 at Graves Park on 19th Feb. We came 2nd overall. We also hosted university national Cross Country championships in 1950, 1969, 1970 and 1972.</li>

		<br class="one-em-spaced">


		<li>We've had 3 male cross country winners, 1927, 1937 and 1967 and won the UAU cross country championships overall in 1972 (also coming 2nd in the BUSF championships in the same race).</li>

		<br class="one-em-spaced">

		<li>We had no-one entered for the track and field champs 1963!</li>

		<br class="one-em-spaced">

		<li>The 1966 BUSF track championships were live on ITV!</li>

		<br class="one-em-spaced">


		<li>Seb Coe won the 400m in 1981 for Loughborough (he was current 800m Olympic Champion).</li>

		<br class="one-em-spaced">

		<li>First ever indoor championships was held in 1992.</li>

		<br class="one-em-spaced">

		<li>Sheffield University women won the team Biathlon in 1994 (200m swim and 2k cross country race)!</li>

		<br class="one-em-spaced">

		<li>1994 Indoors was cancelled as they couldn't find anywhere to host it!</li>

		<br class="one-em-spaced">

		<li>Curtis Robb (who won indoor 800m for us in 1997) also got to the 800m Olympic final in Barcelona in 1992, finishing 6th . He also finished 4th in the World Championships in Stuttgart the following year. He was a 2nd/3rd year medic at Sheffield University.</li>

		<br class="one-em-spaced">

		<li>
		We had 3 girls in the top 8 in the 5000m in one BUSA track and field championships in the 90s and the ladies won the BUSA cross country team championships in 1997.</li>

		<br class="one-em-spaced">

		<li>The women had an individual cross country winner in 2005, Hatti Dean.</li>

		<br class="one-em-spaced">

		<li>Our most recent medallists in BUCS competitions are David Dempsey, silver 400mH and Bertie Houghton, silver 3000m Steeplechase both at the BUCS outdoor championships in 2014.</li>
		</ul>
	</div>
</div> -->

<% if @historic_images != [] %>
	<div id="historyPhotos">

	  <% baseCloudinaryURL = 'http://res.cloudinary.com/shefuniathletics/image/upload/w_400,h_400,c_fill/'%>
	  <% @historic_images.each do |historic_image| %>
	  	<div class="item"><%= image_tag(baseCloudinaryURL+historic_image.image_url, :class=>"historic-photo", :crop => :fill)%></div>

	  <% end %>
	</div>
<% end %>

<script>
$(document).ready(function() {
	$("#historyPhotos").owlCarousel({
 
      autoPlay: 8000, //Set AutoPlay to 8 seconds
 
      items : 2,
      itemsDesktop : [1600,2],
      itemsDesktopSmall : [1100,1]
 
  });
})
</script>