<h1 class="heading">Kit</h1>

<p class="center kit-para">
	We get our kit from a company called Kitlocker, there is a small sample of the kit shown below but to view the full range of kit on offer please click <%= link_to "here", "http://www.sport-sheffield-onlinestore.com/index.php?option=com_virtuemart&Itemid=1206", class: "kit-link", :target => "_blank" %>. <br>

	Remember that club membership includes a competition vest!
</p>

<br class="spaced">

<div class="row">

	<div class="col-md-4 col-sm-6 kit-img">
		<%= link_to image_tag("kit-1.png", class: "center-block", alt: "Kit"), "http://www.sport-sheffield-onlinestore.com/index.php?page=shop.product_details&flypage=flypage.tpl&product_id=10637&category_id=1069&Itemid=1206&option=com_virtuemart&Itemid=1193&Itemid=1206", :target => "_blank" %>
		<h4 class="montserrat">Nike Academy Midlayer Top</h4>
	</div>

	<div class="col-md-4 col-sm-6 kit-img">
		<%= link_to image_tag("kit-2.png", class: "center-block", alt: "Kit"), "http://www.sport-sheffield-onlinestore.com/index.php?page=shop.product_details&flypage=flypage.tpl&product_id=10563&category_id=1069&Itemid=1193&option=com_virtuemart&Itemid=1193&Itemid=1193", :target => "_blank" %>
		<h4 class="montserrat">Nike Miler Crew Top (Female)</h4>
	</div>

	<div class="clearfix visible-sm"></div>

	<div class="col-md-4 col-sm-6 kit-img">
		<%= link_to image_tag("kit-3.png", class: "center-block", alt: "Kit"), "http://www.sport-sheffield-onlinestore.com/index.php?page=shop.product_details&flypage=flypage.tpl&product_id=10638&category_id=1069&Itemid=1206&option=com_virtuemart&Itemid=1193&Itemid=1206",:target => "_blank" %>
		<h4 class="montserrat">Nike Academy Sideline Knit Jacket</h4>
	</div>


	<div class="col-md-4 col-sm-6 kit-img">
		<%= link_to image_tag("kit-4.png", class: "center-block", alt: "Kit"), "http://www.sport-sheffield-onlinestore.com/index.php?page=shop.product_details&flypage=flypage.tpl&product_id=10648&category_id=1069&Itemid=1206&option=com_virtuemart&Itemid=1193&Itemid=1206", :target => "_blank" %>
		<h4 class="montserrat">Nike Womens Tempo Running Shorts</h4>
	</div>

	<div class="clearfix visible-sm"></div>

	<div class="col-md-4 col-sm-6 kit-img">
		<%= link_to image_tag("kit-5.png", class: "center-block", alt: "Kit"), "http://www.sport-sheffield-onlinestore.com/index.php?page=shop.product_details&flypage=flypage.tpl&product_id=10605&category_id=1069&Itemid=1193&option=com_virtuemart&Itemid=1193&Itemid=1193", :target => "_blank" %>
		<h4 class="montserrat">Nike Pocketed Performance Shorts</h4>
	</div>

	<div class="col-md-4 col-sm-6 kit-img">
		<%= link_to image_tag("kit-6.png", class: "center-block", alt: "Kit"), "http://www.sport-sheffield-onlinestore.com/index.php?page=shop.product_details&flypage=flypage.tpl&product_id=10647&category_id=1069&Itemid=1193&option=com_virtuemart&Itemid=1193&Itemid=1193", :target => "_blank" %>
		<h4 class="montserrat">Nike Mens Filament Tights</h4>
	</div>
</div>

