<h1 class="heading">Kit</h1>

<p class="center">
	We get our kit from a company called Kitlocker, there is a small sample of the kit shown below but to view the full range of kit on offer please click <%= link_to "here", "http://www.sport-sheffield-onlinestore.com/index.php?option=com_virtuemart&Itemid=1206", class: "kit-link" %>.
</p>

<br class="spaced">

<div class="row">

	<div class="col-md-3 col-sm-6 kit-img">
		<%= image_tag("kit-1.png", class: "center-block", alt: "Kit") %>
		<h4 class="montserrat">Nike Academy Midlayer Top</h4>
	</div>

	<div class="col-md-3 col-sm-6 kit-img">
		<%= image_tag("kit-2.png", class: "center-block", alt: "Kit") %>
		<h4 class="montserrat">Nike Academy Midlayer Top</h4>
	</div>

	<div class="clearfix visible-sm"></div>

	<div class="col-md-3 col-sm-6 kit-img">
		<%= image_tag("kit-1.png", class: "center-block", alt: "Kit") %>
		<h4 class="montserrat">Nike Academy 14 Midlayer Top</h4>
	</div>

	<div class="col-md-3 col-sm-6 kit-img">
		<%= image_tag("kit-1.png", class: "center-block", alt: "Kit") %>
		<h4 class="montserrat">Nike Academy 14 Midlayer Top</h4>
	</div>

<div class="clearfix-visible-sm"></div>


	<div class="col-md-3 col-sm-6 kit-img">
		<%= image_tag("kit-1.png", class: "center-block", alt: "Kit") %>
		<h4 class="montserrat">Nike Academy 14 Midlayer Top</h4>
	</div>

	<div class="col-md-3 col-sm-6 kit-img">
		<%= image_tag("kit-1.png", class: "center-block", alt: "Kit") %>
		<h4 class="montserrat">Nike Academy 14 Midlayer Top</h4>
	</div>

	<div class="clearfix visible-sm"></div>

	<div class="col-md-3 col-sm-6 kit-img">
		<%= image_tag("kit-1.png", class: "center-block", alt: "Kit") %>
		<h4 class="montserrat">Nike Academy 14 Midlayer Top</h4>
	</div>

	<div class="col-md-3 col-sm-6 kit-img">
		<%= image_tag("kit-1.png", class: "center-block", alt: "Kit") %>
		<h4 class="montserrat">Nike Academy 14 Midlayer Top</h4>
	</div>
</div>

