<h1 class="heading">Club Records</h1>
<%= render 'layouts/admin_dash' %>


<div class="signup_cont two-em-spaced">
  <%= link_to "New Record", new_record_path, id: "new_fix", class: "btn btn-block btn-large btn-warning", "data-no-turbolink" => true %>
</div><br>

<p class="center">Records can be re ordered by dragging and dropping in the tables below</p>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#maleoutdoor" class="record-title">
          Male Outdoor
        </a>
      </h4>
    </div>
    <div id="maleoutdoor" class="panel-collapse collapse">
      <div class="panel-body">
      
      <% if @male_outdoors != [] %> 
      <div class="table-responsive">
        <table class="table table-hover ">  
          <thead>  
            <tr> 
              <th></th>   
              <th>Event</th>
              <th>Athlete</th>
              <th>Time</th>
              <th>Competition</th>
              <th></th>
              <th></th>  
            </tr>  
          </thead>  
          <tbody class="records-sortable">  
             <% @male_outdoors.each do |record| %>
             <tr class="record" data-id="<%= record.id %>">
              <td><i class="fa fa-bars"></i></td>
              <td><%= record.event %></td>
              <td><%= record.athlete %></td>
              <td><%= record.time %></td>
              <td><%= record.competition %></td>  
              <td><%= link_to 'Edit', edit_record_path(record), class:"btn btn-info edit-btn" %></td>
              <td><%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger edit-btn" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>  
      </div>
      <% else %>
      <p>Male Outdoor Records will appear shortly.</p>
      <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#femaleoutdoor" class="record-title">
          Female Outdoor
        </a>
      </h4>
    </div>
    <div id="femaleoutdoor" class="panel-collapse collapse">
      <div class="panel-body">
    
        <% if @female_outdoors != [] %> 
        <div class="table-responsive">
          <table class="table table-hover">  
            <thead>  
              <tr>
                <th></th>   
                <th>Event</th>
                <th>Athlete</th>
                <th>Time</th>
                <th>Competition</th>
                <th></th>
                <th></th>  
              </tr>  
            </thead>  
            <tbody class="records-sortable">  
             <% @female_outdoors.each do |record| %>
             <tr class="record" data-id="<%= record.id %>">
              <td><i class="fa fa-bars"></i></td>
              <td><%= record.event %></td>
              <td><%= record.athlete %></td>
              <td><%= record.time %></td>
              <td><%= record.competition %></td>  
              <td><%= link_to 'Edit', edit_record_path(record), class:"btn btn-info edit-btn" %></td>
              <td><%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger edit-btn" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>   
        </div>
        <% else %>
        <p>Female Outdoor Records will appear shortly.</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#maleindoor" class="record-title">
          Male Indoor
        </a>
      </h4>
    </div>
    <div id="maleindoor" class="panel-collapse collapse">
      <div class="panel-body">
        <% if @male_indoors != [] %> 
        <div class="table-responsive">
          <table class="table table-hover">  
            <thead>  
              <tr>
                <th></th>    
                <th>Event</th>
                <th>Athlete</th>
                <th>Time</th>
                <th>Competition</th>
                <th></th>
                <th></th>  
              </tr>  
            </thead>  
            <tbody class="records-sortable">  
             <% @male_indoors.each do |record| %>
             <tr class="record" data-id="<%= record.id %>">
              <td><i class="fa fa-bars"></i></td>
              <td><%= record.event %></td>
              <td><%= record.athlete %></td>
              <td><%= record.time %></td>
              <td><%= record.competition %></td>  
              <td><%= link_to 'Edit', edit_record_path(record), class:"btn btn-info edit-btn" %></td>
              <td><%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger edit-btn" %></td>
            </tr>
            <% end %>
          </tbody>
        </table> 
        </div>
        <% else %>
        <p>Male Indoor Records will appear shortly.</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#femaleindoor" class="record-title">
          Female Indoor
        </a>
      </h4>
    </div>
    <div id="femaleindoor" class="panel-collapse collapse">
      <div class="panel-body">
        
        <% if @female_indoors!= [] %> 
        <div class="table-responsive">
          <table class="table table-hover">  
            <thead>  
              <tr>
                <th></th>    
                <th>Event</th>
                <th>Athlete</th>
                <th>Time</th>
                <th>Competition</th>
                <th></th>
                <th></th>  
              </tr>  
            </thead>  
            <tbody class="records-sortable">  
             <% @female_indoors.each do |record| %>
             <tr class="record" data-id="<%= record.id %>">
              <td><i class="fa fa-bars"></i></td>
              <td><%= record.event %></td>
              <td><%= record.athlete %></td>
              <td><%= record.time %></td>
              <td><%= record.competition %></td>  
              <td><%= link_to 'Edit', edit_record_path(record), class:"btn btn-info edit-btn" %></td>
              <td><%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger edit-btn" %></td>
            </tr>
            <% end %>
          </tbody>
        </table> 
        </div>
        <% else %>
        <p>Female Indoor Records will appear shortly.</p>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="signup_cont two-em-spaced">
  <%= link_to "New Record", new_record_path, id: "new_fix", class: "btn btn-block btn-large btn-warning", "data-no-turbolink" => true %>
</div>

