<h1 class="heading">Club Records</h1>

<div class="row records-intro">
  <div class="col-md-6">
    <h4 class="montserrat gold record backgroundHist">Background</h4>
    <% if @background != [] %>
      <div class="history-para">
        <%=raw @background %>
        <!-- Performances that have been achieved while competing for the University in a team event are eligible for club record purposes. Open meetings do not count as students often enter these as representing their home athletics club and keeping track of this over past years is an impossible task.<br><br>

        So, currently, all BUCS events count, as do Steel Cup, Varsity and any other non-open events that we may compete in. For example, in the past there was a separate Northern Universities championships and there was an outdoor equivalent to the Steel Cup in Leeds about 8 years ago.<br><br>
        Searching through archives is still ongoing, so if anyone knows of a performance that is not listed here then please get in touch with us.<br><br>

        The records are for Indoor Track, Outdoor Track and also Road and Cross Country, both for Male and Female.
        Abbreviations used are:<br><br>
        UAU - <i>Universities Athletic Union</i><br>
        BUSF - <i>British Universities Sports Federation</i><br>
        BUSA - <i>British Universities Sports Association</i><br>
        BUCS - <i>British Universities & Colleges Sport</i><br> -->
      </div><br>
    <% else %>
      <p>Content will appear shortly.</p>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @background_image != [] %>
      <% baseCloudinaryURL = 'http://res.cloudinary.com/shefuniathletics/image/upload/w_600,h_550,c_fit/'%>
      <%= image_tag(baseCloudinaryURL+@background_image, class: "record-page center-block")%>
    <% else %>
      <p>Content will appear shortly.</p>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h4 class="montserrat gold backgroundHist">Track and Field</h4>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#maleoutdoor" class="record-title">
              Male Outdoor<i class="fa fa-chevron-down"></i>
            </a>

          </h4>
        </div>
        <div id="maleoutdoor" class="panel-collapse collapse">
          <div class="panel-body">
          
          <% if @male_outdoors != [] %> 
          <div class="table-responsive">
            <table class="table table-hover">  
              <thead>  
                <tr>    
                  <th>Event</th>
                  <th>Athlete</th>
                  <th>Time</th>
                  <th>Competition</th> 
                </tr>  
              </thead>  
              <tbody>  
               <% @male_outdoors.each do |record| %>
               <tr>
                <td><%= record.event %></td>
                <td><%= record.athlete %></td>
                <td><%= record.time %></td>
                <td><%= record.competition %></td>  
              </tr>
              <% end %>
            </tbody>
          </table>  
          </div>
          <% else %>
          <p>Male Outdoor Records will appear shortly.</p>
          <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#femaleoutdoor" class="record-title">
              Female Outdoor<i class="fa fa-chevron-down"></i>
            </a>
          </h4>
        </div>
        <div id="femaleoutdoor" class="panel-collapse collapse">
          <div class="panel-body">
        
            <% if @female_outdoors != [] %> 
            <div class="table-responsive">
              <table class="table table-hover">  
                <thead>  
                  <tr>    
                    <th>Event</th>
                    <th>Athlete</th>
                    <th>Time</th>
                    <th>Competition</th> 
                  </tr>  
                </thead>  
                <tbody>  
                 <% @female_outdoors.each do |record| %>
                 <tr>
                  <td><%= record.event %></td>
                  <td><%= record.athlete %></td>
                  <td><%= record.time %></td>
                  <td><%= record.competition %></td>  
                </tr>
                <% end %>
              </tbody>
            </table>  
            </div>
            <% else %>
            <p>Female Outdoor Records will appear shortly.</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#maleindoor" class="record-title">
              Male Indoor<i class="fa fa-chevron-down"></i>
            </a>
          </h4>
        </div>
        <div id="maleindoor" class="panel-collapse collapse">
          <div class="panel-body">
            <% if @male_indoors != [] %> 
            <div class="table-responsive">
              <table class="table table-hover">  
                <thead>  
                  <tr>    
                    <th>Event</th>
                    <th>Athlete</th>
                    <th>Time</th>
                    <th>Competition</th>
                  </tr>  
                </thead>  
                <tbody>  
                 <% @male_indoors.each do |record| %>
                 <tr>
                  <td><%= record.event %></td>
                  <td><%= record.athlete %></td>
                  <td><%= record.time %></td>
                  <td><%= record.competition %></td>  
                </tr>
                <% end %>
              </tbody>
            </table>  
            </div>
            <% else %>
            <p>Male Indoor Records will appear shortly.</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#femaleindoor" class="record-title">
              Female Indoor<i class="fa fa-chevron-down"></i>
            </a>
          </h4>
        </div>
        <div id="femaleindoor" class="panel-collapse collapse">
          <div class="panel-body">
            
            <% if @female_indoors!= [] %> 
            <div class="table-responsive">
              <table class="table table-hover">  
                <thead>  
                  <tr>    
                    <th>Event</th>
                    <th>Athlete</th>
                    <th>Time</th>
                    <th>Competition</th> 
                  </tr>  
                </thead>  
                <tbody>  
                 <% @female_indoors.each do |record| %>
                 <tr>
                  <td><%= record.event %></td>
                  <td><%= record.athlete %></td>
                  <td><%= record.time %></td>
                  <td><%= record.competition %></td>  
                </tr>
                <% end %>
              </tbody>
            </table>  
            </div>
            <% else %>
            <p>Female Indoor Records will appear shortly.</p>
            <% end %>

          </div>
        </div>
      </div>
    </div>

    <h4 class="montserrat gold backgroundHist">Cross Country</h4>
    <div class="history-para">

      <h4 class="montserrat gold record sub">Male</h4>
      <%= raw @cross_country_male %>
     <!--  Individually, <b>J.Hacking</b> won in 1927 and <b>M.Hamilton</b> won in 1936. <b>Richard Newble</b> won the UAU title and came 5th in the BUSF race in 1967. In 1972, Sheffield won the UAU team prize but were second in the BUSF championships. -->


      <hr>

      <h4 class="montserrat gold record sub">Female</h4>

      <%= raw @cross_country_female %>
      <!-- Individually, <b>Hatti Dean</b> is our only female winner in 2005 and Sheffield won the overall team prize in 1997. -->

    </div>

  </div>

  <div class="col-md-6">
    <h4 class="montserrat gold backgroundHist">Road</h4>

    <div class="history-para">
      <h4 class="montserrat gold record sub">Marathon</h4>

      <%= raw @road_marathon %>
      <!-- University Marathon championships started in the 1980s and our best performances in these championships are:<br><br>
  
      <span class="marathon"><b>Male:</b></span> Graham Gagg in 2011 with a time of 2.45.46<br>

      <span class="marathon"><b>Female:</b></span> Jenn Dick in 2007 with a time of 3.09.45 -->
      
      <hr>
   
      <h4 class="montserrat gold record sub">10k</h4>
      <%=raw @road_10k%>
      <!-- There was briefly a University 10k road race in the 80s but this failed to take off and we’ve seen no results with Sheffield athletes competing. However, in 2012, the University started a Varsity 10k race which counts as points towards Varsity and the best performances for this from members of the club are:<br><br>
 
      <span class="marathon"><b>Male:</b> </span>Dom Brown in 2014 with a time of 32.37<br>
      <span class="marathon"><b>Female:</b> </span>Natasha Dawson in 2012 with a time of 39.57 -->
   
  

  </div>
</div>



