  <%= javascript_include_tag "/ckeditor.js" %>
<div class="signup_cont spaced wysiwyg_cont">

 <%= form_for(@info_page) do |f| %>
  <% if @info_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info_page.errors.count, "error") %> prohibited this info_page from being saved:</h2>

      <ul>
      <% @info_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :key, class: "control-label" %><br />
    <%= f.text_field :key, class: "form-control", :disabled=>true%>
  </div>

 
      
  <textarea class="ckeditor" cols="80" id="editor1" name="editor1" rows="10">
        
  </textarea>
    

  <%= f.hidden_field :value, id: "hiddenContent" %>

  <div class="actions two-em-spaced">
    <%= f.submit class: "btn btn-block btn-large btn-warning spaced", onclick:"populateHidden();" %>
    <%= link_to 'Back', info_pages_path, id: "new_fix", class: "btn btn-block btn-default spaced"  %>
  </div>



  <% end %>
</div>

<script>
function populateHidden() {

  //Get contents of wysiwg
  var textAsHTML = $(".cke_wysiwyg_frame").contents().find("body").get(0).innerHTML;

  //Place in hidden field
  $("#hiddenContent").val(textAsHTML);
}


$(document).ready(function() {

  setTimeout(function() {

  //Get current value
  var currentText = $("#hiddenContent").val();

  //Populate the wysiwyg editor with the current value from the hidden field

  $(".cke_wysiwyg_frame").contents().find("body").get(0).innerHTML = currentText;

  }, 3000);
});


</script>


