<div class="signup_cont spaced wysiwyg_cont">

 <%= form_for(@committee_position) do |f| %>
  <% if @committee_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee_position.errors.count, "error") %> prohibited this committee position from being saved:</h2>

      <ul>
      <% @committee_position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :position, class: "control-label" %><br />
    <%= f.text_field :position, class: "form-control", placeholder:"e.g. Club Captain" %>
  </div>

  <div class="field">
    <%= f.label :name, class: "control-label" %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :image_url, "Image", class: "control-label"%><br />

    <div class="form_controls">

      <div class="upload_button_holder">
        <%= link_to("Upload", "#", :class => "upload_button") %>
        <%= f.cl_image_upload(:image_url, :return_delete_token=>true) %>
      </div>
      <a href="#" rel="committee_position_image_url" class="chooseImage btn btn-info spaced">Choose Image</a>
      <span class="status"></span>
    </div>

    <div class="form_controls">
      <div class="custom-chosen-preview"></div>
      <div class="preview">
      <% if @committee_position.image_url %>
        <% baseCloudinaryURL = 'http://res.cloudinary.com/shefuniathletics/image/upload/w_45,h_61,c_thumb,g_face/'%>
        <%= image_tag(baseCloudinaryURL+@committee_position.image_url, :width => 45, :height => 61, :crop => :thumb, :gravity => :face )%>
        <% end %>
      </div>
    </div>

    <%= f.hidden_field :image_url %>
    <%= hidden_field_tag :direct, params[:direct] %>
  </div>


  <textarea class="ckeditor" cols="80" id="committeePositionsEditor" name="committeePositionsEditor" rows="10">
        
  </textarea>
    

  <%= f.hidden_field :description, id: "committePositionHiddenContent" %>

  <div class="actions two-em-spaced">
    <%= f.submit class: "btn btn-block btn-large btn-warning spaced", onclick:"populateCommitteeHidden();" %>
    <%= link_to 'Back', committee_positions_path, id: "new_fix", class: "btn btn-block btn-default spaced"  %>
  </div>



  <% end %>
</div>


