<%= javascript_include_tag "/ckeditor.js" %>
<div class="signup_cont spaced wysiwyg_cont">

 <%= form_for(@kit_item) do |f| %>
  <% if @kit_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kit_item.errors.count, "error") %> prohibited this kit item from being saved:</h2>

      <ul>
      <% @kit_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "control-label" %><br />
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :image_url, class: "control-label" %><br />

    <div class="form_controls">
      <div class="upload_button_holder">
        <%= link_to("Upload", "#", :class => "upload_button") %>
        <%= f.cl_image_upload(:image_url, :return_delete_token=>true) %>
      </div>
      <a href="#" rel="kit_item_image_url" class="chooseImage btn btn-info spaced">Choose Image</a>
      <span class="status"></span>
    </div>

    <div class="form_controls">
      <div class="custom-chosen-preview"></div>
      <div class="preview">
      <% if @kit_item.image_url %>
        <% baseCloudinaryURL = 'http://res.cloudinary.com/shefuniathletics/image/upload/w_180,h_243,c_thumb,g_face/'%>
        <%= image_tag(baseCloudinaryURL+@kit_item.image_url, :width => 45, :height => 61, :crop => :thumb, :gravity => :face )%>
      <% end %>
      </div>
    </div>

    <%= f.hidden_field :image_url %>
    <%= hidden_field_tag :direct, params[:direct] %>
  </div>

  <div class="field">
    <%= f.label :url, class: "control-label" %><br />
    <%= f.text_field :url, class: "form-control" %>
  </div>

  <div class="actions two-em-spaced">
    <%= f.submit class: "btn btn-block btn-large btn-warning spaced" %>
    <%= link_to 'Back', kit_items_path, id: "new_fix", class: "btn btn-block btn-default spaced"  %>
  </div>



  <% end %>
</div>


