<h1 class="heading">Kit Items</h1>

<%= render 'layouts/admin_dash' %>

<div class="signup_cont two-em-spaced">
  <%= link_to "New Kit Item", new_kit_item_path, id: "new_kit_item", class: "btn btn-block btn-large btn-warning", "data-no-turbolink" => true %><br>
</div>

<% if @kit_items != [] %> 
<div class="panel panel-default table-responsive">
  <table class="table table-hover">  
    <thead>  
      <tr>
        <th></th> 
        <th>Name</th>
        <th>Image</th>
        <th>URL</th>
      </tr>  
    </thead>  
    <tbody class="kit_items-sortable">  
    <% baseCloudinaryURL = 'http://res.cloudinary.com/shefuniathletics/image/upload/w_180,h_243/'%>
     <% @kit_items.each do |kit_item| %>
     <tr class="kit_item" data-id="<%= kit_item.id %>">
      <td><i class="fa fa-bars"></i></td>
      <td><%= kit_item.name %></td>
      <td><%= image_tag(baseCloudinaryURL+kit_item.image_url, class: "center-block", :width => 45, :height => 61, :crop => :thumb) %></td>
      <td><%= kit_item.url[0...50] + "..." %></td>
       <td><%= link_to 'Edit', edit_kit_item_path(kit_item), class:"btn btn-info edit-btn", "data-no-turbolink" => true  %></td>
      <td><%= link_to 'Delete', kit_item, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger edit-btn" %></td>   
    </tr>
    <% end %>
  </tbody>
</table>  
</div>
<% else %>
<p>Page Content will appear shortly.</p>
<% end %>

<div class="signup_cont two-em-spaced">
  <%= link_to "New Kit Item", new_kit_item_path, id: "new_kit_item", class: "btn btn-block btn-large btn-warning", "data-no-turbolink" => true %>
</div>