<div class="signup_cont spaced">

 <%= form_for(@social) do |f| %>
  <% if @social.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@social.errors.count, "error") %> prohibited this social from being saved:</h2>

      <ul>
      <% @social.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :name, class: "control-label" %><br />
    <%= f.text_field :name, class: "form-control"%>
  </div>

  <div class="field">
    <%= f.label :date, class: "control-label" %><br />
    <%= f.text_field :date, class: "form-control", :data => {:behaviour => "datepicker"}%>
  </div>
  <div class="field">
    <%= f.label :facebook_event_link, class: "control-label" %><br />
    <%= f.text_field :facebook_event_link, class: "form-control" %>
  </div>
  
  <div class="actions two-em-spaced">
    <%= f.submit class: "btn btn-block btn-large btn-warning spaced" %>
    <%= link_to 'Back', admin_socials_path, id: "new_fix", class: "btn btn-block btn-default spaced"  %>
  </div>



  <% end %>
</div>

<script type="text/javascript">
  $('[data-behaviour~=datepicker]').Zebra_DatePicker();
</script>
