<h1 class="heading">Socials</h1>
<%= render 'layouts/admin_dash' %>
<% if @socials != [] %> 
<div class="panel panel-default table-responsive">
  <table class="table table-hover">  
    <thead>  
      <tr>    
        <th>Name</th>
        <th>Date</th>
        <th>Facebook Event</th>
        <th></th>
        <th></th>  
      </tr>  
    </thead>  
    <tbody>  
     <% @socials.each do |social| %>
     <tr>
      <td><%= social.name %></td>
      <td><%= social.date.to_formatted_s(:long) %></td>
      <% if social.facebook_event_link != "" %>
        <td><%= link_to "Here", "http://"+social.facebook_event_link, class:"btn btn-warning edit-btn" %></td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= link_to 'Edit', edit_social_path(social), class:"btn btn-info edit-btn" %></td>
      <td><%= link_to 'Delete', social, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger edit-btn" %></td>
    </tr>
    <% end %>
  </tbody>
</table>  
</div>
<% else %>
<p>Social events will appear shortly.</p>
<% end %>
<div class="signup_cont two-em-spaced">
  <%= link_to "New Social", new_social_path, id: "new_soc", class: "btn btn-block btn-large btn-warning", "data-no-turbolink" => true %>
</div>