<div class="admin-dash-cont">
<ul class="nav nav-tabs admin_dash" style="margin-bottom: 15px;">
  <li><%= link_to "New Athletes", new_athletes_admins_path, class: "black-text" %></li>

  <li><%= link_to "Admins", admin_users_admins_path, class: "black-text" %></li>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Content Management <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Fixtures", admin_fixtures_path %></li>
      <li><%= link_to "Socials", admin_socials_path %></li>
      <li><%= link_to "Recreational Runs", admin_rec_run_routes_path %></li>
      <li><%= link_to "Club Records", admin_records_path %></li>
      <li><%= link_to "Event Disciplines (Club Records Page)", events_path %></li>
      <li><%= link_to "Committee Positions", committee_positions_path %></li>
      <li><%= link_to "Kit Items", kit_items_path %></li>
      <li><%= link_to "Coaches", coaches_path %></li>
      <li><%= link_to "Key Dates (History Page)", key_dates_path %></li>
      <li><%= link_to "Historic Images (History Page)", historic_images_path %></li>
      <li><%= link_to "Site Images", site_images_path %></li>
      <li><%= link_to "Other Content", info_pages_path %></li>
      
    </ul>
  </li>
</ul>
</div>


